* {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
}

body{
    margin-left: 3px;
    margin-right: 3px;
    background-color: rgb(116, 102, 102);
}

nav {
  text-align: right;
}

#group_icon {
  float: left;
  margin-top: 10px;

}

.barraDeNavegacao {
  display: inline-block;
}

.barraDeNavegacao a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  padding: 20px;    
}

.barra_de_links {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
}

header {
  margin-top: 20px;
  background-size: cover;
  background-position: 50% 60%;
  height: 400px;
}

#tituloPagina {
  padding-top: 100px;
  padding-left: 40px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  color: white;
  text-align: center;
  font-size: 80px;
  text-align: left;
  display: inline-block;
}

#setaDireita{
  float: right;
  padding-top: 130px;
  padding-right: 40px;
  background-color: transparent;
  border: 0px;
}

#bloco_principal {
  padding: 40px;
  display: inline-block;
  margin-top: 3px;
  max-width: 54%;
  vertical-align: top;
  background-color: black;
  color: white;
  height: 1080px;
}

.titulo_post{
    font-weight: 400;
    font-size: 35px;
}

#bloco_principal img {
    padding-top: 20px;
}

#quadro_lateral {
  padding: 38px;
  margin-top: 3px;
  display: inline-block;
  max-width: 32%;
  vertical-align: top;
  background-color: black;
  color: white;
}

#quadro_lateral p {
  padding-top: 20px;
  padding-bottom: 42px;
  line-height:2;
  max-width: 80%;
  text-align: center;
  margin: auto;
  font-size: 18px;
}

#novidades {
    margin-top: 3px;
}

.opcaoPodcast{
  display: inline-block;
  color:white;
  margin-bottom: 1px;
  font-size: 20px;
  padding:12px;
  }

#queTalOuvir{
  background-color: black; 
  text-align: center;
  width: 59%;  
}

.iconeGarouNordestePlataformas{
  padding-right: 10px;
  width: 25px;
  float: left;
}

#icone_spotify{
  background-color: rgb(1, 46, 1); 
  min-width: 17%;
  text-align: center;
}

#icone_youtube{
  background-color: rgb(87, 1, 1); 
  min-width: 17%;
  text-align: center;
}

.cada_novidade {
  display: inline-block;
  vertical-align: top;
  width: 24.8%;
  padding: 0px;
  margin: 1px;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
}

#setaPodcastEsquerda{
  background-color: transparent;
  border: 0px;
  display: inline-block;
}

#setaPodcastDireita{
  background-color: transparent;
  float: right;
  border: 0px;
  
}

button img{
  width: 60px;
}

.repositorioBotoes {
  background-color: black;
  margin-bottom: 3px;
}