body {
    background-color:black;
}

.barra_de_menu {
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  justify-content:flex-end;
}

.barra_de_links {
  padding-right: 10px;
}

.linksDoMenu {
  text-decoration: none;
  font-weight: 600;
  color: rgb(116, 102, 102);
  padding: 20px;    
}

.folder_apresentacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: 50% 60%;
  height: 400px;
  padding-left: 30px;
  padding-right: 5px;
}

.folder_paginas_derivadas {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-size: cover;
  background-position: 50% 7%;
  padding-left: 30px;
  padding-right: 5px;
  font-size: 90px;
  background-image: url('imagens/tribos/werewolfw20.png');
}

.tituloPagina {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  color: white;
  font-size: 80px;
  max-width: 45%;
}

#setaDireita{
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  margin-right: 40px;
  border-radius: 50%;
  color: white;
  background-color: black;
  border: 0;
}

#setaDireita:hover{
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  margin-right: 40px;
  border-radius: 50%;
  color: black;
  background-color: white;
  border: 0;
}

#principal {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1px;
}

#bloco_principal {
  padding: 40px;
  max-width: 60%;
  vertical-align: top;
  background-color: black;
  color: white;
}

.titulo_post{
  font-weight: 400;
  font-size: 35px;
}

#bloco_principal img {
  padding-top: 20px;
}

#quadro_lateral {
  margin-left: 1px;
  max-width: 40%;
  vertical-align: top;
  background-color: black;
  color: white;
  display: flex;
  align-items:flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

#quadro_lateral p {
  padding-top: 20px;
  line-height:2;
  max-width: 70%;
  text-align: center;
  margin: auto;
  font-size: 18px;
}

#quadro_lateral img {
  padding-top: 50px;
  padding-Bottom: 20px;
  max-width: 80%;
  margin: auto;
}

#novidades {
    margin-top: 1px;
}

#podcasts_dinamicos {
  display: flex;
  
}

#anuncio_podcasts {
  display: flex;
  color:white;
  margin-bottom: 1px;
  font-size: 20px;
  text-align: center;
}

#queTalOuvir{
  background-color: black; 
  min-width: 59.9%;
  padding: 20px;
  margin-right: 1px;
}

.opcaolink {
  width: 30%;
  padding: 20px;
}

#icone_spotify {
  background-color: rgb(1, 46, 1);
}

#icone_youtube {
  background-color: rgb(87, 1, 1); 
}

.cada_novidade {
  width: 25%;
  margin: 1px;
  display: flex;
  justify-content: center;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
}

#setaPodcastEsquerda{
  background-color: transparent;
  border: 0px;
}

#setaPodcastDireita{
  background-color: transparent;
  float: right;
  border: 0px;
  
}

button img{
  width: 60px;
}

.repositorioBotoes {
  background-color: black;
  margin-bottom: 3px;
}